{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block sitecss %}
	<link rel="stylesheet" href="{% static 'homepage/css/linearicons.css' %}"> 
	<link rel="stylesheet" href="{% static 'homepage/css/font-awesome.min.css' %}"> 
	<link rel="stylesheet" href="{% static 'homepage/css/themify-icons.css' %}"> 
	<link rel="stylesheet" href="{% static 'homepage/css/bootstrap.css' %}"> 
	<link rel="stylesheet" href="{% static 'homepage/css/owl.carousel.css' %}"> 
	<link rel="stylesheet" href="{% static 'homepage/css/nice-select.css' %}"> 
	<link rel="stylesheet" href="{% static 'homepage/css/nouislider.min.css' %}"> 
	<link rel="stylesheet" href="{% static 'homepage/css/main.css' %}"> 
{% endblock sitecss %}

{% block banner-area %}
    {% include "product/banner-organic-breadcrumb.html" %}
{% endblock banner-area %}

{% block product-area %}
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					<div class="head">Browse Categories</div>
					<ul class="main-categories">
						{% for Categories_parent in Categories_parents %}
							<li class="main-nav-list">
								<a data-toggle="collapse" href="#{{ Categories_parent.slug }}" aria-expanded="false" aria-controls="{{ Categories_parent.slug }}">
									<span class="lnr lnr-arrow-right"></span>{{ Categories_parent.title }}<span class="number"></span>
								</a>
								<ul class="collapse" id="{{ Categories_parent.slug }}" data-toggle="collapse" aria-expanded="false" aria-controls="{{ Categories_parent.slug }}">
									{% for Category in Categories_parent.parent_Ids.all %}
										<li class="main-nav-list child"><a href="{% url 'product:category' Category.slug %}">{{ Category.title }}<span class="number"></span></a></li>								
									{% endfor %}
								</ul>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="sidebar-filter mt-50">
					<div class="top-filter-head">Product Filters</div>
					<div class="common-filter">
						<div class="head">Brands</div>
						<form action="#">
							<ul>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="brand"><label for="apple">Apple<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="brand"><label for="asus">Asus<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="gionee" name="brand"><label for="gionee">Gionee<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="micromax" name="brand"><label for="micromax">Micromax<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="samsung" name="brand"><label for="samsung">Samsung<span>(19)</span></label></li>
							</ul>
						</form>
					</div>
					<div class="common-filter">
						<div class="head">Color</div>
						<form action="#">
							<ul>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">Black<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather" name="color"><label for="balckleather">Black
										Leather<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">Black
										with red<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">Gold<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label for="spacegrey">Spacegrey<span>(19)</span></label></li>
							</ul>
						</form>
					</div>
					<div class="common-filter">
						<div class="head">Price</div>
						<div class="price-range-area">
							<div id="price-range"></div>
							<div class="value-wrapper d-flex">
								<div class="price">Price:</div>
								<span>$</span>
								<div id="lower-value"></div>
								<div class="to">to</div>
								<span>$</span>
								<div id="upper-value"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting">
						<select>
							<option value="1">Default sorting</option>
							<option value="1">Default sorting</option>
							<option value="1">Default sorting</option>
						</select>
					</div>
					<div class="sorting mr-auto">
						<select>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
						</select>
					</div>
					{% include "product/pagination.html" with page=Products %}
				</div>
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						<!-- single product -->
						{% for Product in Products %}
							<div class="col-lg-4 col-md-6">
								<div class="single-product">
									<a href="{% url 'product:product-detail' Product.id %}"><img class="img-fluid" src="{{Product.image.url}}" width="262px" height="280px" alt=""></a>
									<div class="product-details">
										<h6>{{Product.title}}</h6>
										<div class="price">
											<h6>${{Product.price}}</h6>
											<h6 class="l-through">${{Product.price}}</h6>
										</div>
										<div class="prd-bottom">

											<a href="{% static 'homepage/cart.html' %}" class="social-info">
												<span class="ti-bag"></span>
												<p class="hover-text">add to bag</p>
											</a>
											<a href="{% static 'homepage/login.html' %}" class="social-info">
												<span class="lnr lnr-heart"></span>
												<p class="hover-text">Wishlist</p>
											</a>
											<a href="" class="social-info">
												<span class="lnr lnr-sync"></span>
												<p class="hover-text">compare</p>
											</a>
											<a href="{% url 'product:product-detail' Product.id %}" class="social-info">
												<span class="lnr lnr-move"></span>
												<p class="hover-text">view more</p>
											</a>
										</div>
									</div>
								</div>
							</div>							
						{% endfor %}
					</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting mr-auto">
						<select>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
						</select>
					</div>
					{% include "product/pagination.html" with page=Products %}
				</div>
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>
{% endblock product-area %}

{% block related-product %}	
	{% include 'homepage/related-product.html' %}
{% endblock related-product %}

{% block sitejs %}
	<script src="{% static 'homepage/js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{% static 'homepage/js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'homepage/js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'homepage/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'homepage/js/jquery.sticky.js' %}"></script>
	<script src="{% static 'homepage/js/nouislider.min.js' %}"></script>
	<script src="{% static 'homepage/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'homepage/js/owl.carousel.min.js' %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'homepage/js/gmaps.min.js' %}"></script>
	<script src="{% static 'homepage/js/main.js' %}"></script>
{% endblock sitejs %}