{% load staticfiles %}

{% if page.has_other_pages %}
    <div class="pagination">
        {% if page.has_previous %}
            <a href="?page={{page.previous_page_number}}" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
            <!-- <a class="page-link" href="?page={{page.previous_page_number}}">Trước</a> -->
        {% else %}
            <a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
        {% endif %}

        {% for num in page.paginator.page_range  %}
            {% if page.number == num %}
                <a href="?page={{num}}" class="active">{{num}}</a>
                {% comment %} <a class="page-link" href=">?page={{num}}">{{num}}</a> {% endcomment %}
            {% else %}
                <a href="?page={{num}}">{{num}}</a>
                {% comment %} <a class="page-link" href="?page={{num}}">{{num}}</a> {% endcomment %}
            {% endif %}
        {% endfor %}

        {% if page.has_next %}
            <a href="?page={{page.next_page_number}}" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>                    
            {% comment %} <a class="page-link" href="?page={{page.next_page_number}}">Tiếp</a> {% endcomment %}
        {% else %}
            <a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        {% endif %}
    </div>  
{% endif %}
    <!-- <div class="pagination">
        <a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
        <a href="#">6</a>
        <a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div> -->
